<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <script src="https://cdn.jsdelivr.net/npm/@widgetbot/crate@3" async defer>
    new Crate({
      server: '461495552039714817',
      channel: '461495552039714819',
      shard: 'https://cl2.widgetbot.io'
    })
  </script>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <h1>COVID got you down? Check MANGO, a game we've been working over the past year!</h1>
        <iframe src="https://store.steampowered.com/widget/1458690/" frameborder="0" width="646" height="190"></iframe>
        
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
